.hero-section {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 1.5s ease-in-out;
  transform: translateX(0);
}

.hero-content h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}