/* Background and Title Section */
.backgroundImg {
  background-image: url("../../assets/backgroundImages/backgroundImage1.png");
  border-radius: 1px;
  border: 0.1px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.wholeComponent {
  max-width: 90%;
  margin-top: 3%;
}

.wholeComponent h2 {
  font-size: 26px;
}

/* Carousel Container */
.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2%;
}

.saaviCards {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  max-width: 100%;
  transition: transform 0.1s ease-in-out;
}

/* Individual Card Styles */
.card {
  border: 1px solid rgb(188, 181, 181);
  border-radius: 20px;
  padding: 7px;
  width: 25%;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardImage {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-height: 75%;
  border-radius: 10px;
}

.cardInfo {
  margin-top: 0.5rem;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTitle {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.bookNowButton {
  border: none;
  border-radius: 5px;
  background-color: rgba(187, 18, 18, 0.857);
  color: #ffffff;
  padding: 7px 10px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bookNowButton:hover {
  transform: translateY(-2px) scale(1.05);
  background: #c0392b;
  color: white;
}

.cardDescription {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 13px;
  color: rgb(78, 72, 72);
}

/* Carousel Buttons */
.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(187, 18, 18, 0.857);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.carouselButton.left {
  left: 10px;
}

.carouselButton.right {
  right: 10px;
}

.carouselButton:hover {
  background-color: rgba(200, 0, 0, 0.9);
}
