.ourStory {
  padding: 40px;
  margin-top: 100px;
  font-family: Arial, sans-serif;
  margin-left: 3%;
}

.ourStory-header {
  text-align: left;
  position: relative;
  padding-left: 30px;
max-width: 30%;
}

.ourStory-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: #c3002f;
  border-radius: 5px;
}

.ourStory-title {
  font-size: 26px;
  color: #333;
}

.ourStory-subtitle {
  font-size: 17px;
  color: #c3002f;
  margin-top: 9px;
}

.ourStory-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px;
  flex-wrap: wrap;
}

.ourStory-text {
  flex: 1;
  max-width: 700px;
  margin-top: 5%;
  font-weight: 500;
}

.ourStory-highlight {
  font-weight: bold;
  color: #c3002f;
}

.ourStory-text p {
  line-height: 1.8;
  color: #000000;
  margin-bottom: 20px;
  font-size: 16px;
}

.ourStory-button {
  padding: 12px 24px;
  background-color: #c3002f;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 8%;
}

.ourStory-button:hover {
  background-color: #a10023;
}

.ourStory-imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.ourStory-imageWrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.ourStory-image {
  width: 90%;
  height: auto;
  display: block;
  border-radius: 8px;
  padding-left: 8%;
}