.search-form-container {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  width: 85%;
  margin: 0 auto;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding: 0.75rem;
  margin-left: 1.5rem;
}

.form-group label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ffffff;

}

.dropdown-wrapper {
  position: relative;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  color: #333;
  font-size: 1rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 115%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
  z-index: 100;
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  color: #555;
}

.dropdown-item:hover {
  background-color: #f7f7f7;
}

.date-picker {
  border: 1px solid #ddd;
  outline: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
}

.search-button {
  background-color: rgba(178, 18, 37, 1);
  color: white;
  border: none;
  border-radius: 12px;
  height: 48px;
  padding: 0.5rem 3rem;
  /* Reduced top and bottom padding */
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.15);
  margin-top: 2.9%;
  margin-left: 3rem;
}

.search-button:hover {
  background-color: rgb(108, 15, 25);
}


.counter-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.counter-btn {
  background-color: #ddd;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.counter-btn:hover {
  background-color: #ccc;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .search-form-container {
    flex-direction: column;
    max-width: 95%;
    padding: 1rem;
    border-radius: 10px;
  }

  .search-form {
    flex-direction: column;
    gap: 1.5rem;
  }

  .form-group {
    padding: 0.5rem 0;
  }

  .dropdown-toggle {
    font-size: 0.9rem;
  }

  .date-picker {
    font-size: 0.9rem;
    padding: 0.8rem;
  }

  .search-button {
    width: 100%;
    font-size: 1rem;
    margin-top: 1rem;
  }
}